<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h1 class="display-3">My Auctions</h1>
  <p class="lead">You can manage all your auctions here.</p>
  <h6><%= link_to "All Reviews ", reviews_path %></h6>
  <h6><%= link_to 'New Auction', new_auction_path, class: 'nav_link' %></h6>
</div>

<% auctions.each do |auction| %>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
  <%= auction.title %>
  </div>
  <%= image_tag(auction.image, style:'height: 200px; width: 100%; display: block;') %>
  <% winning_bid =  auction.bids.order(amount: :desc).first %>
  <% if auction.is_expired? == false %>
    <div class="card-body">
      <% if winning_bid.present? %>
        <p> Current Bid: $<%= winning_bid.amount %> </p>
      <% else %>
        <p> Current Bid: $<%= auction.starting_bid %> </p>
      <% end %>
      <p> End Date: <%= auction.expire_date %></p>
      <li><%= link_to 'Details', auction_path(auction) %>
      <li><%= link_to 'Edit', edit_auction_path(auction) %>
      <li><%= link_to 'Delete', auction_path(auction), method: :delete %>
      <li><%= link_to 'Received Reviews', "/auctions/#{auction.id}/reviews/reviewleft" %></li>
    </div>
  <% else %>
    <div class="card-body">
      <% if winning_bid.present? %>
        <p> Winning Bid: $<%= winning_bid.amount %> </p>
      <% else %>
        <p> Winning Bid: $<%= auction.starting_bid %> </p>
      <% end %>
      <p>Expiration Date: <%= auction.expire_date %></p>
      <li><%= link_to 'Details', auction_path(auction) %>
      <li>Edit</li>
      <li>Delete</li>
    </div>
  <% end %>  
</div>
 <% end %>