
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand">
        <%= link_to 'Home', root_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'All Auctions', auctions_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'User Auctions', user_auctions_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'New Auction', new_auction_path, class: 'nav_link' %>
      </li>
      <% if user_signed_in? %>
       <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
     </li>
     <li class="nav-item">
       <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
     </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Theoretical Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Your Auctions</h1>
  <p class="lead">Welcome Home</p>
  <hr class="my-4">
 


<% auctions.each do |auction| %>

<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">
  <%= auction.title %>
  </div>
  <%= image_tag(auction.image, style:'height: 200px; width: 100%; display: block;') %>
  <div class="card-body">
    <h4 class="card-title"> End Date:
    <%= auction.expire_date %> 
    </h4>
    <li><%= link_to 'Show', auction_path(auction) %>
    <li><%= link_to 'Edit', edit_auction_path(auction) %>
    <li><%= link_to 'Delete', auction_path(auction), method: :delete %>
  </div>
</div>
 <% end %>