<h1>My Auctions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    
    <% auctions.each do |auction| %>
      <tr>
      <td><%= auction.title %></td>
      <td><%= link_to 'Show', auction_path(auction) %></td>
      <td><%= link_to 'Edit', edit_auction_path(auction) %></td>
      <td><%= link_to 'Delete', auction_path(auction), method: :delete %></td>
      </tr>
      <% end %>
    
  </tbody>
</table>

<div>
  <p><%= link_to 'New Auction', new_auction_path %><p>
  <p><%= link_to "Home", home_path %></p>
  <p><%= link_to "All Auctions", auctions_path %></p>
</div>
