<h1>My Auctions</h1>

<% auctions.each do |auction| %>
  <div id="<%= dom_id(auction) %>">
    <br>
    <p>
      <%= auction.title %>
      <%= link_to 'Show', auction_path(auction) %>
      <%= link_to 'Edit', edit_auction_path(auction) %>
      <%= link_to 'Delete', auction_path(auction), method: :delete %>
    </p>

  </div>
<% end %>

<%= link_to 'New Auction', new_auction_path %>
<p><%= link_to "Home", home_path %></p>
<p><%= link_to "All Auctions", auctions_path %></p>

