<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h4 class="display-4">Create a new auction</h4>
  <%= form_with model: auction, url: user_auctions_path, method: :post, local: true, scope: :auction do |f| %>
    
    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>

    <div>
        <%= f.label :description %><br>
        <%= f.text_field :description %>
    </div>

    <div>
        <%= f.label :starting_bid %><br>
        <%= f.text_field :starting_bid %>
    </div>

    <div>
        <%= f.label :buy_now_price %><br>
        <%= f.text_field :buy_now_price %>
    </div>

    <div>
      <%= f.label :expire_date%><br>
      <%= f.text_field :expire_date, :placeholder=>'yyyymmdd' %>
    </div>

    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image%>
    </div>

    <div>
      <%= f.label :tag_list %><br>
      <%= f.text_field :tag_list %>
    </div>
    
    <br>

    <%= f.submit 'Create Auction' %>
    
<% end %>
  
</div>

