<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h1 class="display-3">Detailed Overview</h1>
  <p class="lead">Some more details about your auction.</p>
</div>

<div class="card mb-3" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title"><%= auction.title%></h5>
    <h6 class="card-subtitle text-muted"> Created by: <%= auction.user.username %></h6>
  </div>

  <%= image_tag(auction.image, style:'height: 200px; width: 100%; display: block;') %>
  
  <div class="card-body">
    <p class="card-text"><%= auction.description%></p>
  </div>
  <% winning_bid =  auction.bids.order(amount: :desc).first %>
  <% if auction.is_expired? == false %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Expiration Date: <%= auction.expire_date %></li>
      <li class="list-group-item">Starting Bid: $<%= auction.starting_bid %></li>
      <% if winning_bid.present? %>
        <li class="list-group-item">Current Bid: $<%= winning_bid.amount %></li>
      <% else %>
        <li class="list-group-item">Current Bid: $<%= auction.starting_bid %></li>
      <% end %>
      <li class="list-group-item">Buy Now Price: $<%= auction.buy_now_price %></li>
      <li class="list-group-item">Auction Status: active</li>
    </ul>
  <% else %>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Expiration Date: <%= auction.expire_date %></li>
      <li class="list-group-item">Starting Bid: $<%= auction.starting_bid %></li>
      <% if winning_bid.present? %>
        <li class="list-group-item">Current Bid: $<%= winning_bid.amount %></li>
      <% else %>
        <li class="list-group-item">Current Bid: $<%= auction.starting_bid %></li>
      <% end %>
      <li class="list-group-item">Buy Now Price: $<%= auction.buy_now_price %></li>
      <li class="list-group-item">Auction Status: inactive</li>
    </ul>
  <% end %>
</div>





