<h1>Show</h1>

<p>Title:</p>
<p><%= auction.title %></p>

<p>Description:</p>
<p><%= auction.description %></p>

<p>Starting Bid:</p>
<p><%= auction.starting_bid %></p>

<p>Buy Now Price:</p>
<p><%= auction.buy_now_price %></p>

<p>Expiration Date:</p>
<p><%= auction.expire_date %></p>

<p>Auction status:</p>
<% if auction.status == true %>
    <p>active</p>
<% else %>
    <p>expired</p>
<% end %>

<p>Picture:</p>


