<h1>Show</h1>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand">
        <%= link_to 'Home', root_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'All Auctions', auctions_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'User Auctions', user_auctions_path, class: 'nav_link' %>
      </li>
      <% if user_signed_in? %>
       <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
     </li>
     <li class="nav-item">
       <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
     </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Theoretical Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Detailed Overview</h1>
  <p class="lead">This page demostrates how your listing appears to other users. </p>

</div>

<div class="card mb-3" style="width: 18rem;">

  <h3 class="card-header"> Your Listing</h3>

  <div class="card-body">
    <h5 class="card-title"><%= auction.title%></h5>
    <h6 class="card-subtitle text-muted"> Created by: <%= auction.user.username %></h6>
  </div>
  <%= image_tag(auction.image, style:'height: 200px; width: 100%; display: block;') %>
  <div class="card-body">
    <p class="card-text"><%= auction.description%></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Starting Bid: <%= auction.starting_bid %></li>
    <li class="list-group-item">Buy Now Price: <%= auction.buy_now_price %></li>
    <li class="list-group-item">Expire Date: <%= auction.expire_date %></li>
  </ul>
  <div class="card-body">

    <%= link_to 'Edit', edit_auction_path(auction) %>
    <%= link_to 'Delete', auction_path(auction), method: :delete %>
  </div>
  <div class="card-footer text-muted">
    <p>Auction status:</p>
<% if auction.status == true %>
    <p>active</p>
<% else %>
    <p>expired</p>
<% end %>

<p> tag list:</p>
  <p>
    <% auction.tag_list.each do |tag| %>
      <%= tag %>,
    <% end %>
  </p>



