<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h1 class="display-3">My Bids</h1>
  <p class="lead">You can see what auctions you've bid on here.</p>
  
</div>


<% auctions.each do |auction| %>

  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">
      <%= auction.title %>
    </div>
    <%= image_tag(auction.image, style:'height: 200px; width: 100%; display: block;') %>
    <div class="card-body">
      <p class="card-title"> End Date:
        <%= auction.expire_date %>
      </p>
      <p></p>
      <p> Winning Bid:</p>
      <% winning_bid =  auction.bids.order(amount: :desc).first %>
      <% if winning_bid.present? %>
        <p> $<%= winning_bid.amount %> </p>
      <% else %>
        <p> $<%= auction.starting_bid %> </p>
      <% end %>
      <% if winning_bid.user_id == current_user.id %>
        <p><b>You are currently the highest bidder</b></p>
      <% else %>
        <p><b>You are not the highest bidder</b></p>
        <p></p>
      <% end %>
      <p class="card-title"> My Bids:
        <% bids =  auction.bids.where(user_id: current_user) %>
        <% bids.each do |bid| %>
        <p>$<%= bid.amount %> on <%= bid.created_at %></p>
        <% end %>
      </p>
    </div>
  </div>
<% end %>