<%= render "layouts/navbar" %>

<div class="jumbotron">
  <h1 class="display-3">My Bids</h1>
  <p class="lead">You can see what auctions you've bid on here.</p>
  
</div>


<% auctions.each do |auction| %>

  <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">
      <%= auction.title %>
    </div>
    <%= image_tag(auction.image, style:'height: 200px; width: 100%; display: block;') %>
    <div class="card-body">
      <p class="card-title"> End Date:
        <%= auction.expire_date %>
      </p>
    </div>
    <div class="card-body">
      <p class="card-title"> My Bid:
        <%= auction.bids %> #FIXME: I need to display the bid quantity
      </p>
    </div>
  </div>
<% end %>