<h1>Auctions</h1>

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Starting Bid</th>
                <th>Winning Bid</th>
                <th>Buy Now Price</th>
                <th>Expiration Date</th>
                <th>Created by</th>
                <th>Details</th>
            </tr>
        </thead
        <tbody>
            <% auctions.each do |auction| %>
                <tr>
                    <td><%= auction.title %></td>
                    <td><%= auction.starting_bid %></td>
                    <td><%= auction.winning_bid %></td>
                    <td><%= auction.buy_now_price %></td>
                    <td><%= auction.expire_date %></td>
                    <td><%= auction.user.username %>
                    <td><%= link_to "Show", details_path(auction)%>
                </tr>
            <% end %>
        </tbody>
    </table> 

<p><%= link_to "Home", home_path %></p>
<p><%= link_to "User Auctions", user_auctions_path %></p>
