<h1> User Reviews </h1>

  <p><%= link_to "Home", home_path %></p>
  <p><%= link_to "All Auctions", auctions_path %></p>


<h2> Good Afternoon <%= current_user.username%> !</h2>
  
<p> Current reviews for your listings </p>

<% auctions.each do |auction| %>
  <div id="<%= dom_id(auction) %>">
    <br>
    <p> Listing 1: </p>
    <p> <%= auction.title %> </p>
    <p> Received Review:</p>

  </div>
<% end %>
