
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand">
        <%= link_to 'Home', root_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'All Auctions', auctions_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'User Auctions', user_auctions_path, class: 'nav_link' %>
      </li>
      <li class="navbar-brand">
        <%= link_to 'New Auction', new_auction_path, class: 'nav_link' %>
      </li>
      <% if user_signed_in? %>
       <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
     </li>
     <li class="nav-item">
       <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
     </li>
      <% end %>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Theoretical Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="jumbotron">
  <h1 class="display-3">Leave Review</h1>
  <p class="lead">Feeback matters to our Sellers. Please submit the form below to leave a review.</p>
  <hr class="my-4">

<% if local_assigns.has_key? :status_msg %>
  <p><%= status_msg %></p>
<% end %>

<%= form_with url: update_path, local: true, method: :post do %>

<div>
  <%= label_tag "name:"%>
  <%= text_field_tag "name", feedback.fetch(:name, nil)%>
</div>

<div>
  <%= label_tag "email : "%>
  <%= email_field_tag "email", feedback.fetch(:email, nil)%>
</div>

<span> Would you like a follow-up reply? </span>
<div>
  <%= radio_button_tag "reply", true, feedback.fetch(:reply, nil) == true.to_s %>
  <%= label_tag "reply_yes", 'Yes'%>
</div>
<div>
  <%= radio_button_tag "reply", false, feedback.fetch(:reply, nil) == false.to_s%>
  <%= label_tag "reply_no", 'No'%>
</div>

<div>
  <%= label_tag "message"%>
  <%= text_area_tag "message",feedback.fetch(:message, nil), size: "27x7"%>
</div>

  <%= submit_tag "Post Review"%>

<% end %>