<div class="jumbotron">
  <h1 class="display-3">All Reviews</h1>
  <p class="lead"> Shows all submitted Reviews </p>
  <hr class="my-4">

  <% reviews.each do |review|%>
  <div id= "<%= dom_id(review) %>">

<div class="card mb-3" style="width: 18rem;">
  
  <h3 class="card-header"> Review Left by</h3>
  
  <div class="card-body">
    <h5 class="card-title"><%= review.name%></h5>
    <h6 class="card-subtitle text-muted"> Email: <%= review.email %></h6>
  </div>
  <div class="card-body">
    <p class="card-text"><%= review.message%></p>
  </div>
  
</div>

<% end %>

 <%= link_to 'Add Review', new_review_path %>
